<h1>Edit Image Details Page</h1>

<% if @image.errors.any? %>
  <h3>Oops. There were some errors. Please try again:</h3>
  <ul>
    <% @image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
  <%= form_for @image do |f| %>
    <%= f.label :title%>
    <%= f.text_field :title, autofocus: true%>
    <%= f.submit "Update Title" %>
  <% end %>
</div>
<hr>
<%= link_to "Log In", log_in_path %><br>
<%= link_to "Home",  images_path%>
