<h1>Image page</h1>

<% content_for(:navbar) do %>
  <% if current_user %>
    <%= current_user.user_name %>
    <%= link_to 'Log Out', log_out_path %>
  <% else %>
    <%= link_to 'Log In', log_in_path %>
  <% end %>
<% end %>

<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <li><%= image.title %> added by: <%= image.user.user_name %></li>
      <li><%= link_to "#{image_tag image.photo.url(:thumb)}".html_safe, image_path(image) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no images yet.</p>
<% end %>



<%= link_to "add photo", new_image_path %>

<%= link_to "Log In", new_session_path %>
