<h1><%= @image.title%></h1>
<h3><%= @image.user.user_name %></h3>
<%= image_tag @image.photo.url(:original) %>
<% if @image.user_id === current_user.id %>
  <p><%= link_to 'Delete', image_path(@image), :data => {:confirm => "You Sure?", :method => "delete"} %></p>
  <p><%= link_to "Edit", edit_image_path(@image) %></p>
<% else %>
  <p>You are not authorized to delete this image. You did not create it.</p>
<% end %>



<hr>
<% if current_user %>
  <p><%= link_to 'Log Out', log_out_path %></p>
<% else %>
  <p><%= link_to 'Log In', log_in_path %></p>
<% end %>

<p><%= link_to "Return to Images", images_path %></p>
