<h1><%= @image.title%></h1>

<%= @image.user_name %>
<%= @image.user.user_name %>
<% if @image.user_id === current_user.id %>
<% else %>
  <p>you can not delete this you did not create it</p>
<% end %>
<p><%= link_to 'Delete', image_path(@image), :data => {:confirm => "You Sure?", :method => "delete"} %></p>
<% if current_user %>
  <p><%= current_user.user_name %></p>
  <p><%= link_to 'Log Out', log_out_path %></p>
<% else %>
  <p><%= link_to 'Log In', log_in_path %></p>
<% end %>

<p><%= link_to "Return to Images", images_path %></p>
